body {
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/premium-photo/potted-plant-sits-wooden-platform-front-green-plant_151355-46944.jpg?w=1060');
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(27, 154, 33);
  color: white;
}

bg-image {
  background-image: url('https://img.freepik.com/premium-photo/shopping-cart-with-plant-it-that-says-plant_912524-29418.jpg?w=1060');
  background-size: cover;
}
.icons {
  display: flex;
  gap: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: white;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  height: 35px;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(75, 64, 232);
  color: white;
  border-width: 1px;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.modal-content {
  text-align: center;
}

.pagination {
  text-align: center;
  padding: 20px;
}

.thank-you-page {
  text-align: center;
  padding: 50px;
  color: rgb(37, 12, 128);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-card {
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
